TG_BOT_TOKEN=получить у @BotFather
TG_CHANNEL_ID=-100XXXXXXXXXX
YT_TOKEN=OAuth-токен Яндекс Трекера
YT_ORG_ID=3814554
DEEPSEEK_API_KEY=ключ с platform.deepseek.com
SITE_DIR=/var/www/digest
SITE_URL=http://skillaz-digests.ru
